@import '../../../../scss/bootstrap';

.r-drawer {
  &-logo {
    opacity: 0.4;
  }

  &-item {
    opacity: 0.7;
    transition: .2s all;
    cursor: pointer;
    border: 0px solid $white;


    &:hover {
      opacity: 0.5;
    }

    &--active {
      opacity: 1;
      border-right: 2px solid $primary;
      color: $primary;
    }
  }
}
