@import '../../scss/bootstrap';

.r-help {
  &-title {
    margin-bottom: 13px;
  }

  &-description {
    margin-bottom: 25px;
    max-width: 820px;

    @media only screen and (max-width: map-get($grid-breakpoints, "lg")) {
      max-width: 100%;
    }
  }
}
